@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body {
	background-color: #000000;
	color: #fff;
	line-height: 5px;
}
h1{
	font-family: "Jersey 10", sans-serif;
	font-size: 40px;
}
h2{
	font-family: "Jersey 10", sans-serif;
	font-size: 35px;	
	margin-bottom: 35px;
}
a {
	color: rgb(62, 190, 23);
	text-decoration: none;
	text-align: center;
	font-family: 'Jersey 10', sans-serif;
	font-size: 25px;;
	margin-left: 10px;
	margin-right: 10px;
}
a:hover {
	text-decoration: underline;
	font-size: 27px;
	margin-left: 15px;
	margin-right: 15px;

}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
}

#playButton {
	background-color: rgb(62, 190, 23);
	color: #000;
	font-family: 'Jersey 10', sans-serif;
	font-size: 20px;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	position: fixed; /* Posición fija */
	bottom: 20px; /* Distancia desde abajo */
	right: 20px; /* Distancia desde la derecha */
	z-index: 1000; /* Z-index para asegurarse de que esté en la parte superior */
}

#playButton:active #playIcon {
    transform: scale(0.8); /* Reducir el tamaño del icono al presionar */
}

#playButton:active #playText {
    transform: scale(0.8); /* Reducir el tamaño del texto al presionar */
}

a, button, input, select {
	pointer-events: auto;
}


